<p>Welcome to <%= title %></p>

<% if (userInfo) { %>
  <p> Welcome, <%= userInfo.firstName %>. </p>

<% } %>

<h1> Hive Inspections </h1>

<a href="/hives/<%= oneHive %>/new-inspection"> New Inspection </a> <br/><br/>

<div class="hive-container">
  <ul style="list-style: none;">
    <% inspections.forEach((oneInspection) => { %>
      <li>
        <h2> <u><%= oneHive.name %> HIVE NAME </u> </h2>
        <li> <a href="/inspections/<%= oneInspection._id %>/edit-inspections-view"> Edit Hive Inspection </a> </li>
          <hr class="light">

        <h3>  NOTES </h3> </p>
        <ul>
          <li>
            <%= oneInspection.note %>
          </li>
        </ul>

        <h3>  TO DO </h3> </p>
        <ol>
          <li>
           <%= oneInspection.toDo %>
           </li>
        </ol>
      </li>
      <button type="submit" class="delete-btn btn btn-default"> Delete </button>
      <form action="/inspections/<%= oneInspection._id %>/delete" method="post">
      <hr>
  </ul>
</div>
<% }) %>
