    <div>
      <h1> New Inspection </h1>
      <a href="/hives/<%= oneHive %>/inspections"> Inspections</a>
    </div>

<form action="/inspections" method="POST" class="hive-container">
  <div class="notes col-md-3">
    <h2>Date of Inspection</h2>      <div class="input-group ">
      <input
        type="date" class="form-control"
        aria-describedby="basic-addon2"
        name="dateInspected">
      <span type class="input-group-addon" id="basic-addon2" ></span>
    </div>
  </div>

  <div class="notes col-md-3">
    <h2>Add a Note</h2>      <div class="input-group ">
      <input
        type="type" class="form-control"
        aria-describedby="basic-addon2"
        name="note">
      <span class="input-group-addon" id="basic-addon2" >Add Note</span>
    </div>
  </div>

  <div class="toDo col-md-3">
    <h2>Add a To Do</h2>
    <div class="input-group">
      <input
        type="text" class="form-control"
        aria-describedby="basic-addon2"
        name="toDo">
      <span class="input-group-addon" id="basic-addon2">Add a To Do</span>
    </div>
  </div>

  <div class="images col-md-3">
    <h2>Add an Image</h2>
      <div class="input-group">
        <input
          type="text" class="form-control"
          aria-describedby="basic-addon2"
          name="iamge">
        <span class="input-group-addon" id="basic-addon2">Add an Image</span>
      </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

  <div>
    <ul>
      <% inspections.forEach((oneInspection) => { %>
        <li>
          <h2> <%= oneInspection.name %> </h2>
          <p> <%= oneInspection.dateCreated %> </p>
        </li>
        <li> <a href="/inspections/<%= oneInspection._id %>/edit-inspections-view"> Edit Hive Inspection </a> </li>
        <form action="/inspections/<%= oneInspection._id %>/delete" method="post">
                <button type="submit"> Delete </button>
        <% }) %>
    </ul>
  </div>
