<div>
  <h1> </h1>
  <p>WELCOME TO <%= title %></p>

  <% if (userInfo) { %>
    <p> Hello, <%= userInfo.firstName %>.  </p>
  <% } %>
</div>

<div>
  <ul style="list-style: none;">
    <li> <h1> Your Hives </h1> </li>
    <li> <a href="/hives/new" class="link-btn btn btn-default">Create a new Hive </a> </li>
  </ul>
</div>

<div>
  <ul>
    <% if (userInfo) { %>


      <% } else { %>
        <li> <a href="/signup">Sign Up</a> </li>
        <li> <a href="/login">Log In My Friend</a> </li>
        <% } %>
  </ul>
</div>

<% hives.forEach((oneHive) => { %>
<div class="hive-container">
  <ul style="list-style: none;">
      <li>
        <h2> <%= oneHive.name %> </h2>
        <p>  <%= oneHive.dateCreated %> </p>
        <p> <%=  oneHive.comment %>     </p>
      </li>
        <li> <a href="/hives/<%= oneHive._id %>/edit" class="green-btn btn btn-default"> Edit Hive </a> </li>

        <form action="/hives/<%= oneHive._id %>/delete" method="post">
        <button class="delete-btn btn btn-default" type="submit"> Delete </button>
        </form>

      <li> <a href="/hives/<%= oneHive._id %>/inspections" class="green-btn btn btn-default"> Inspections</a> </li>
        <hr>
  </ul>
</div>
<% }) %>
