<h1> Welcome to <%= title %> </h1>


<% if (userInfo) { %>
  <p> Welcome, <%= userInfo.firstName %>. </p>
<% } %>

<h1> Your Hives </h1>

<ul>
  <% hives.forEach((oneHive) => { %>
    <li>
      <h2> <%= oneHive.name %> </h2>
       <a href="/hives/<%= oneHive._id %>"> <%= oneHive.name %> </a>

       <p> <%= oneHive.comment %> </p>
    </li>
  <% }) %>
</ul>
